.board-wrapper {
  background-color: lightblue;
  height: 100%;
  h1 {
    padding: 24px;
    margin: 0;
  }
}

.board-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: lightblue;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px 20px;
}
